<head>
  <%- include('../partials/head'); %>
</head>
<div class="container">
  <div class="row">
    <div class="col-4">
      left part
    </div>
    <div class="col-8">
      right part

      <h2>Update me</h2>
      <div>
        <form action="submit-user-data" method="POST" id="update-me-form">
          <label for="firstname">Enter firstname: </label>
          <input id="firstname" type="text" name="firstname" value="">
          <label for="lastname">Enter lastname: </label>
          <input id="lastname" type="text" name="lastname" value="">
          <label for="email">Enter email: </label>
          <input id="email" type="text" name="email" value="">
          <input type="submit" value="Update Me">
        </form>
      </div>

      'firstname', 'lastname', 'email'
      /updatePassword

      /deleteMe'
    </div>

  </div>

</div>
