

<h1>boat renters index</h1>
<h2>
  <a href="http://localhost:8000/">http://localhost:8000/</a>
</h2>
<ul>
  <% boats.forEach( boat => { %>
    <a href= /boat/getBoat/<%=boat.id%> >


    <li> Name:<%= boat.name %> Description:<%= boat.description %> Price:<%= boat.price %>
    </li>

  </a>
    <% }); %>
</ul>
