<head>
  <%- include('../partials/head'); %>
</head>

<h1>salut</h1>
<div class="container">
  <% if (typeof user !== 'undefined') { %>
    <p> Logged In!!!</p>
    <button id="logout-button">Logout</button>
  <%} else { %>
    <h2>login</h2>
    <div >
      <!-- <form action="/user/login" method="post" id="login-form"> -->
      <form  id="login-form">
        <label for="email">Enter email: </label>
        <input id="email-login" type="text" name="email" value="">
        <label for="password">Enter password: </label>
        <input id="password-login" type="text" name="password" value="">
        <input type="submit" value="OK">
      </form>
    </div>
  <% } %>

    <div>
      <h2>My account</h2>
      <a href="http://localhost:8000/me">Go to my account</a>
    </div>

    <div>
      <h2>All boats</h2>
      <a href="http://localhost:8000/boat/boats">All boats</a>
    </div>

  <div>
    <a href="http://localhost:8000/user/getAllUsers">all users</a>
  </div>

  <h2>signup</h2>
  <div>
    <form action="/user/signup" method="post">
      <label for="firstname">Enter firstname: </label>
      <input id="firstname" type="text" name="firstname" value="">
      <label for="lastname">Enter lastname: </label>
      <input id="lastname" type="text" name="lastname" value="">
      <label for="email">Enter email: </label>
      <input id="email" type="text" name="email" value="">
      <label for="password">Enter password: </label>
      <input id="password" type="text" name="password" value="">
      <label for="passwordConfirm">Enter password: </label>
      <input id="passwordConfirm" type="text" name="passwordConfirm" value="">
      <input type="submit" value="OK">
    </form>
  </div>

</div>





<script src="https://js.stripe.com/v3/"></script>

<script type="text/javascript" src="/js/bundle.js"></script>
